@import "../../breakpoints";
.error404 {
    h2,
    h3 {
        font-family: impact;
    }
    display: flex;
    background-color: #eda0a8;
    div.hs {
        font-family: Impact;
        margin: 10%;
        width: 350px;
        h2 {
            font-size: 70px;
        }
        h3 {
            font-size: 50px;
            line-height: 50px;
        }
    }
    @include media(mobile) {
        img {
            display: none;
        }
    }
    @include media(sm) {
        img {
            width: 50%;
            height: fit-content;
            margin-top: 8%;
        }
    }
    @include media(cards) {
        img {
            width: 50%;
            height: fit-content;
            margin-top: 2%;
        }
    }
    @include media(desktop) {
        img {
            width: auto;
            height: auto;
            margin-top: 0;
        }
    }
}
